section,article,div,class,ol,ul,li,img,span,p,input,select,h1,h2,h3,h4,h5,strong,canvas{margin:0;padding:0;border:0;float:left;}

section fieldset{
  width:300px;
  color:#fff;
}

#form_log{color:#fff;}
#form_log input{margin:10px;}
#form_log label{float:left; line-height:30px;}
#formc{ width:800px; color:#fff;}
#formc p{ width:200px; color:#fff; float:left; }
#result_carga{ color: #fff; }

/*-.-.-.-.-.--.-.-.-.--.--.-.-.-.-.*/




/*#resultado .info_list .ti1 {width:30%;}
#resultado .info_list .ti4 {width:30%;}
#resultado .info_list .ti5 {width:30%;}*/
.perfil .ti1 {width:30%;}
.perfil .ti4 {width:30%;}
.perfil .ti5 {width:30%;}


#resultado .info_list .ti2 {width:30%;}
#resultado .info_list .ti3 {width:30%;}
#resultado .info_list .ti6 {width:300px;}

#resultado .info_list .ti1 input{margin:1px; padding:1px 0px 0px 1px;}
#resultado .info_list .ti1 select{margin:1px; padding:1px 0px 0px 1px;}

#resultado .info_list .ti1 input[name='carga_titulo']{width:95%;}
#resultado .info_list .ti1 input[name='carga_autor']{width:95%;}
#resultado .info_list .ti1 select[name='carga_anio']{width:68px; font-size:13px; line-height:13px;}
#resultado .info_list .ti1 input[name='carga_continente']{width:30%;}
#resultado .info_list .ti1 select[name='carga_pais']{width:65%;}
#resultado .info_list .ti1 input[name='carga_ubicacion']{width:95%;}

input[name='carga_link']{width:100%;}

#car_link_web{width:100%;}

#resultado .info_list .ti1 p{float:left;}
#resultado .info_list .ti6 p{ width:40%; margin:0; padding:5px; }
#resultado .info_list .ti4 input{ margin:0px 5px 0 5px; padding:5px; }

.admin_titulos{	width:100%;}
.admin_titulos p{float:left;}

#resultado #adt1 p:nth-child(2){margin-left: 270px;}
#resultado #adt2 p:nth-child(2){margin-left: 45px;}
#resultado #adt2 p:nth-child(3){margin-left: 100px;}

#resultado .info_list .ti1 input[name='carga_nombre_contribu']{width:95%;}
#resultado .info_list .ti1 input[name='carga_email_contribu']{width:95%;}



.admin_titulos2{width:50%; }
.admin_titulos2 p{margin:0;padding:0px;}


.bot_admin{
	height:50px;
	height:30px;
    font-size:15px;
	line-height:1.9em;
	text-align:center;
	color:#fff;
	cursor:pointer;
	position:relative; top:70px;
}

/*-----------------------------*/
#admin_sugerencias{
  width:100px; background-color:#CCFF33; margin-right:2px; font-weight:600;
  position:relative; top:25px; border-radius:10px 10px 0px 0px; color:#000; border:1px #333 solid;
  float:right;
}
#admin_sugerencias:hover{ }

/*-----------------------------*/
#admin_nuevo_perfil{
  width:60px; background-color:#FF0066; font-weight:600;
  position:relative; top:25px; border-radius:10px 10px 0px 0px; color:#fff;
  float:right;
}
#admin_nuevo_perfil:hover{ }

/*-----------------------------*/
#admin_nuevo_perfil2{
  width:120px; background-color:#CCFF33;  font-weight:600;
  position:relative; top:25px; border-radius:10px 10px 0px 0px; color:#000;
  float:right;
}
#admin_nuevo_perfil2:hover{ }
/*----------------------------*/
#datos_admin{width:500px;float: none; margin:0 auto 0 0;}
#datos_admin p{width:100%; height:20px;}
#datos_admin input{width:50px;}

.bot_admin_general{
   width:auto !important;
   height:30px;
   padding:10px;
   margin:5px;
   line-height:0px;
   font-size:1.1em;
   color:#000;
   font-weight:700;
   border-radius:5px;  
}

#form_guardar{background-color:#C3D120; color:#000;}
#form_cargar{ background-color:#207CD1; color:#fff; float:right;}
#form_eliminar{ background-color:#D12020; color:#fff; margin-left:50px;}

#admin_genero{ padding:4px 0;}
#admin_genero input{width:15px; margin:2px;}
#admin_genero p{width:auto; margin:2px 4px;}

#perfiles{
   width:100%;
   height:auto;
   position:absolute;
   top:0;
   left:0;
   padding-top:100px;
   padding-bottom:1000px;
   z-index:1000;
   color: #000;
   background:url("../imagenes/fondo1.png");
   display:none;
}

#perfiles_nuevo{
	width:90%;
	height:auto;
	background-color:#fff;
    margin-left:5%;
    margin-right:5%;
	min-width:400px;
	overflow:auto;
	color:#000;
}

#off_perfil{
	width:15px;
	height:10px;
	text-align:center;
	position:relative;
	top:-10px;
	left:5%;
	z-index:999;
	background-color:#fff;
	color:#c06;
}


#recarga_vid{
	width:60px;height:20px;
	color:#fff;
	background-color:#333;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	padding:5px;
	margin:0px 0px 5px 10px;
	border-radius:5px;
	line-height:12px;
}



#perfiles_nuevo .ti1 {width:50%; min-width:300px; }
#perfiles_nuevo .ti2 {width:50%; min-width:300px; }
#perfiles_nuevo .ti3 {width:50%; min-width:300px; }
#perfiles_nuevo .ti5 {width:100%; min-width:300px; margin:30px 0 0 0;}

@media (max-width : 600px){ 
#perfiles_nuevo .ti1 {width:100%;}
#perfiles_nuevo .ti2 {width:100%;}
#perfiles_nuevo .ti3 {width:100%;}
}

#datos_persona{
  width:calc(100% - 20px); height:auto; 
  padding:10px; margin:0px 0px 5px 0px; 
  background-color:#301A26;
  color:#fff;
}

#datos_persona p{ font-size:1em; font-weight:100;}

.admin_nuevo_caja_1{
 width:100%;
 font-size:0.8em;
 padding:5px 0px 10px 0px;
 color:#666; 
}


.admin_nuevo_caja{ 
	width:90%;  height:auto;  float:left; 
	border:1px #999 solid; border-radius:10px;
	margin:10px; padding:10px;  
	background-color:#F4F4F4; 

}

.admin_nuevo_caja p{ width:90%;  height:20px;  font-size:1.3em; margin-top:5px; line-height:20px; font-weight:700;}
.admin_nuevo_caja input{ width:90%;  height:20px;  border:1px #ccc solid; border-radius:5px;  }
.admin_nuevo_caja select{ width:90%; height:20px;  font-size: 1.2em;  border:1px #ccc solid; border-radius:5px; }
.admin_nuevo_caja textarea{ width:90%; font-size: 1.2em;  border:1px #ccc solid; border-radius:5px; }


.nuevo_caja_2{ width:100%; margin:5px;}
.nuevo_caja_2 input{ width:50%; height:20px; }
.nuevo_caja_2 p{ width:50%;  height:20px; font-size:1.2em; font-weight:700; color: #999;}


.vid_marco{
	padding:5px;
}
.admin_caja50{
	width:40%; height:auto; margin:10px; padding:10px;
	border:1px #999 solid; border-radius:10px;
	background-color:#F4F4F4; 
}

.admin_caja50 p{ width:90%;  height:20px;  font-size:1.3em; margin-top:5px; line-height:20px; font-weight:700;}
.admin_caja50 input{ width:90%;  height:20px;  border:1px #ccc solid; border-radius:5px;  }
.admin_caja50 select{ width:90%; height:20px;  font-size: 1.2em;  border:1px #ccc solid; border-radius:5px; }
.admin_caja50 textarea{ width:90%; font-size: 1.2em;  border:1px #ccc solid; border-radius:5px; }

.ss_autores{ width:90%; height:auto; margin:0;padding:0; border-top:1px #333 solid;}

.ss_autores ul {width:100%; height:auto; margin:0; padding:0; color:#333; font-size: 1.2em;}
.ss_autores ul li{ width:100%; float:left; list-style:none; margin:0;padding:1px }
.ss_autores ul li strong{ font-weight: 700; margin:0;padding:0; float: left;  }


#caja_cantidad_autores{ width:100%; height:30px; margin:5px 0 5px 0; }

#num_autores{ width:70px; height:20px; }
#setautor{ width:calc(100% - 70px); height:20px; }
#num_aut_resultado{ width:100%; height:20px; font-size:0.8em;}

#num_autores_mod{ width:80px; height:20px; margin:10px 0 0 10px; }
#setautor_mod{ width:calc(100% - 90px); height:20px; margin:1px 0 0px 0; }
#num_aut_resultado_mod{ width:100%; height:20px; font-size:0.8em;}

.ss_autores_mod{ width:90%; height:auto; border-top:1px #333 solid; display:none; }
.ss_autores_mod ul.ul_aut {width:calc(100% - 8px); height:auto; margin:2px; padding:2px; color:#fff; font-size:1em;}
.ss_autores_mod ul.ul_aut li{ width:100%; height:15px; list-style:none; float:left; }
.ss_autores_mod ul.ul_aut li strong{ height:15px; font-weight: 100; margin:0 5px 0 0; float:left; color:#CCFF33; }

.admin_caja_2{ 
	width:calc(100% - 20px); height:auto;float:left; 
	border:1px #999 solid; border-radius:10px;
	margin:5px 0px 5px 0px; padding:5px;  
}

.admin_caja_1{ 
	width:calc(100% - 20px); height:auto; 
	margin:5px; padding:5px;
}


canvas#pjs2{
  width:500px;
  height:400px;
}
